.form_cadastro{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;    
    background: rgb(241, 241, 241);
    border-radius: 8px;
    box-shadow: 0, 0, 10px black;
    padding: 20px;
    width: 400px;

}

input[type=text] {
  border: 1px solid rgb(78, 78, 78);
  border-radius: 5px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.estoque {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
